@media (min-width: 600px) {
  .login-box {
    width: 300px;
  }
}

:root {
  --primary: #3751ff;
  --background: #363740;
  --text: #9fa2b4;
  --highlight: #252733;
  --border: #dfe0eb;

  color: var(--text);
}

/* utils */

.row {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

/*--- login styles ----*/

label {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3px;
  text-align: left;
  margin: 0.5em;
}

input {
  color: var(--text);
  width: 90%;
}

.login-box {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2em;
  align-self: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.login-p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.3px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  border-radius: 8px;
  padding: 1em;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3px;
  background-color: #fcfdfe;
  border: 1px solid #f0f1f7;
}

.button {
  background-color: #3751ff;
  font-family: "Mulish";
  border-radius: 5px;
  border: none;
  padding: 1em;
  color: white;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #3751af;
}

.login-a {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.1px;
  cursor: pointer;
  margin: 0.5em;
}

.login-a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
}

/*--- admin styles ----*/
.admin-layout {
  display: grid;
  grid-template-columns: 220px auto;
  background-color: #f7f8fc;
  overflow: hidden;
  height: 100vh;
}

.sidebar {
  background-color: var(--background);
  padding: 1.5em;
  height: 100vh;
}

.sidebar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5em;
}

.sidebar-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-link > p:hover {
  background-color: var(--highlight);
}

.sidebar-link > p {
  margin-left: 1em;
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
}

.admin-header {
  margin-bottom: 3em;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;
  flex-grow: 1;
  text-align: left;
  color: var(--highlight);
}

.subtitle {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 580;
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  text-align: left;
  letter-spacing: 0.2px;
  color: var(--highlight);

  text-transform: capitalize;
}

.circle {
  border-radius: 50%;
}

.circle-border {
  border: 1.5px solid var(--border);
  padding: 3px;
}

.header-profile {
  border-left: 1px solid var(--border);
  padding-left: 1em;
  gap: 1em;
  align-items: center;
}

.header-icon {
  margin-right: 1.5em;
  color: var(--border);
  cursor: pointer;
}

.header-icon:active {
  color: var(--primary);
}

.content-wrapper {
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--border);
  height: 80vh;
  overflow: hidden;
}
.table-wrapper {
  overflow: scroll;
  height: 55vh;
}

.table-wrapper::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--text); /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
  border: 1px solid var(--border);
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
}

thead {
  border-bottom: 1px solid var(--border);
}

thead > td {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

tfoot {
  justify-content: end;
}

tfoot p {
  margin-right: 1em;
}

th {
  padding: 1em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 1em 1em 1em 1.5em;
  border-bottom: 1px solid var(--border);
}

tr:hover {
  background-color: #f7f8fc;
}

table span {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 25px;
  font-weight: 700;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: white;
}

.subparagraph {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  margin: 0px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
}

.dropdown-rpp {
  cursor: pointer;
  z-index: 2;
  padding-right: 1em;
}

.dropdown-icon {
  position: absolute;
  right: 0.5em;
  top: 0.2em;
  color: var(--border);
  pointer-events: none;
}

.dropdown-rpp:hover {
  background-color: #f7f8fc;
  border-radius: 5px;
}
